<!DOCTYPE html>
<html>
<head>
    <title>Main page</title>
</head>
<body>
    <header>
        <nav>
            <!-- Consider placing here login_form -->
            <a href="#">Demo</a>
            <a href="#">Log In</a>
            <a href="#">Register</a>
        </nav>
        <h1>Learn with HeadTeacher</h1>

        <h3>Faster, Easier, on All Devices</h3>
    </header>
    <div id="main">
        <section id="web_overview">Web App Overview</section>
        <section id="phone_app_overview">Phone App Overview</section>
        <section id="ipad_app_overview">IPad App Overview</section>
    </div>
    <footer>
        <h3>Footer</h3>
    </footer>
</body>
</html>