<!DOCTYPE html>
<html>
<head>
    <title>Personal Workspace</title>
</head>
<body>
    <style type="text/css">
        .centered {
            position: relative;
            top: 20%;
            left: 50%;
            margin-top: 25px;
            margin-left: -100px;
        }
    </style>

    <input id="select-sheet" type="text" list="available-sheets" placeholder="Select your sheet" />
    <datalist id="available-sheets">
        <option value="01/01/2013"></option>
    </datalist>

    <input type="button" value="Load or create sheet" onclick="headteacher.workspace.load_sheet()"/>

    <p class="centered">
        <input id="query" type="text" />
        <input type="button" value="GO" onclick="headteacher.workspace.submit_query()">
    </p>
    <p>Use # to indicate word in foreign language, @ for translation eg. #dog @pies</p>

    <p id="loaded-sheet-name">Currently open sheet <span style="font-weight: bold">NONE</span></p>
    <div id="loaded-sheet" class="centered" style="visibility: hidden">
        <p></p>
    </div>
</body>
</html>